

:root {
    --primary-color: blueviolet;
    --secondary-color: aqua;
}

/* Form Styling */

.inputField {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid;
    border-radius: 0px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    transition: border-color 0.5s ease;
}

.inputField:hover {
    border-color: var(--primary-color);
}

.inputField:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--secondary-color);
}

/* Link Styling */

.authLink {
    color: var(--primary-color);
    text-decoration: none;
}
