{% extends 'base.html' %}

{% block head %}
{{ super() }} 
    <link rel="stylesheet" href="{{ url_for('static', filename='style/create.event.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/show.events.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

<!-- Dynamic page title - Can be changed on other pages by using this -->
{% block title %}Cancel Your Event - VibeVerse{% endblock %}

{% block content %}

<!-- Delete Your Event-->
<div class="container my-4 title-container">
  <h1>Are you sure you want to cancel your event - "{{event.name}}" ?</h1>
  <p class="subtitle-text">By pressing the 'Cancel' button below, your event's status will change from 'Open' to 'Cancelled.' There is no going back!</p>
</div>

<!-- Event Cards display - with each events details - name, image, description, status -->
<div class="container-fluid">
    <main class="container my-5">
        <section class="mb-5">
            <div class="row">
                <div class="col-lg-12 mb-3">
                    <div class="card h-100">
                        <img src="{{event.image}}" class="card" alt="Event Image">
                        <div class="card-body">
                            <h3 class="card-title">{{event.name}}</h3>
                            <p class="card-text">{{event.description}}</p>
                            <div class="event-details">
                                <div class="event-info">
                                    <span class="event-label"><strong>Status:</strong></span>
                                    <span class="event-value">{{event.status}}</span>
                                </div>
                                <div class="event-info">
                                    <span class="event-label"><strong>Category:</strong></span>
                                    <span class="event-value">{{event.category}}</span>
                                </div>
                                <div class="event-info">
                                    <span class="event-label"><strong>Date:</strong></span>
                                    <span class="event-value">{{event.date}}</span>
                                </div>
                                <div class="event-info">
                                    <span class="event-label"><strong>Start Time:</strong></span>
                                    <span class="event-value">{{event.start_time}}</span>
                                </div>
                                <div class="event-info">
                                    <span class="event-label"><strong>End Time:</strong></span>
                                    <span class="event-value">{{event.end_time}}</span>
                                </div>
                                <div class="event-info">
                                    <span class="event-label"><strong>Venue:</strong></span>
                                    <span class="event-value">{{event.venue}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{{url_for('event.cancel', id=event.id)}}" class="btn btn-danger btn-card">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

{% endblock %}